.hello{
display: inline;
padding:140px
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.hi{
    background-color: black;
}
table, th, td {
  border: 1px solid black;
}
p{
    font-family: Arial;
    text-align: center;
    /* font-size: 20px;; */
}
#about{
    font-family: Arial;
    text-align: center;
    font-size: 30px;
}
nav{
    background-color: black
}
div{
    text-align: center
}
h1{
    text-align: center
}
#navigation{
    word-spacing: 100px;
    align-content: right;
}
#atags{
    color: white;
}
#contact_box{
    height: 100px;
    width: 800px;
    text-align: center;
    margin: 0 auto;
}